<header>
    <title>Register</title>
    
</header>

<%- include('../layouts/navbar') %>
<br><br><br><br>




<div id = "content" class="container ">
    <div class="card text shadow">
        <div class="card-header text-center">
          <h2>Register</h2>
        </div>
        <div class="card-body">
            <form action="/auth/register" method="post" class="lg-form">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input  class="form-control" type="text"name="email" id="email" aria-describedby="emailHelp"  placeholder="Enter email" value="<%= locals.email ? email : '' %>"/>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input class="form-control" type="password" name="password" id="password" placeholder="Password" />
                  <label for="password2">Confirm password</label>
                  <input class="form-control" type="password" name="password2" id="password2" placeholder="Confirm password" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Role</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="role">
                      <option value="Student">Student</option>
                      <option value="Teacher">Teacher</option>
                    </select>
                </div><br>
                <button input type="submit" value="Register" class="btn btn-secondary">Register</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            Already have an account? <span><a href="/auth/login">Login</a></span>
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>
