
<!-- MIDDLE 1 -->

    <div id = "content" class="container">
<!--   C Language -->
        <div class="accordion" id="accordionParentSyntax">
            <!--   Introduce -->
            <div id="collapseIntroduce" class="accordion-collapse collapse show" data-bs-parent="#accordionParentSyntax">
                <h1>Overview</h1>
                
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i href="/home" class="fa fa-home" style="font-size:16px"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">Course</li>
                </ol>
                <!--   ## -->
                <div class="box bg-light  mb-5 shadow" >
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                        <div lang="ja">
                            <p class="wrapbox auto">
                                <b>1. Introduction </b>
                                <br><a href="/course-Introduction#Token" style="color:black">Token in C</a>
                                <br><a href="/course-Introduction#Semicolons" style="color:black">Semicolons</a>
                                <br><a href="/course-Introduction#Comments" style="color:black">Comments</a>
                                <br><a href="/course-Introduction#Identifier" style="color:black">Identifier</a>
                                <br><a href="/course-Introduction#Escape​" style="color:black">Escape​ ​sequences​ ​in​ ​C</a>
                                <br><a href="/course-Introduction#Variable" style="color:black">Variable</a>
                                <br><a href="/course-Introduction-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                            </p>
                            <p class="wrapbox auto">
                                <b>2. String </b>
                                
                                <br><a href="/course-String" style="color:black">String </a>
                                <br><a href="/course-String-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                                <br><br>
                        
                                <b>3. Datatype</b>
                                <br><a href="/course-Datatype" style="color:black">Datatype</a>
                                <br><a href="/course-Datatype-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                                
                            </p>
                            <p class="wrapbox auto">
                                <b>4. Operators</b>
                                <br><a href="/course-Operators#Arithmetic" style="color:black">Arithmetic</a>
                                <br><a href="/course-Operators#Relational" style="color:black">Relational</a>
                                <br><a href="/course-Operators#Logical" style="color:black">Logical</a>
                                <br><a href="/course-Operators#Bitwise" style="color:black">Bitwise</a>
                                <br><a href="/course-Operators#Assignment" style="color:black">Assignment</a>
                                <br><a href="/course-Operators#Misc" style="color:black">Misc</a>
                                <br><a href="/course-Operators-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                            </p>
                            <p class="wrapbox auto">
                                <b>5. Flow Control </b>
                                <br><a href="/course-Flow_Control#if_else" style="color:black"> if - else</a>
                                <br><a href="/course-Flow_Control#for_Loop" style="color:black">for Loop</a>
                                <br><a href="/course-Flow_Control#while_Loop" style="color:black">while Loop</a>
                                <br><a href="/course-Flow_Control#break_and_continue" style="color:black">break and continue</a>
                                <br><a href="/course-Flow_Control#switch_case" style="color:black">switch - case</a>
                                <br><a href="/course-Flow_Control#goto_statement" style="color:black">goto statement</a>
                                <br><a href="/course-Flow_Control-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                            </p>
                            <p class="wrapbox auto">
                                <b>6. Pointers</b>
                                <br><a href="/course-Pointers" style="color:black">Pointers</a>
                                <br><a href="/course-Pointers-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                            </p>
                            <p class="wrapbox auto">
                                <b>7. Function</b>
                                <br><a href="/course-Function" style="color:black">Function</a>
                                <br><a href="/course-Function-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                            </p>
                            <p class="wrapbox auto">
                                <b>8. Structure </b>
                                <br><a href="/course-Structure" style="color:black">Token</a>
                                <br><a href="/course-Structure-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                            </p>
                            <p class="wrapbox auto">
                                <b>9. Array </b>
                                <br><a href="/course-Array#Declaring" style="color:black">Declaring</a>
                                <br><a href="/course-Array#Two_Dimensional" style="color:black">Two-Dimensional</a>
                                <br><a href="/course-Array#Three_Dimensional​" style="color:black">Three-Dimensional​</a>
                                <br><a href="/course-Array-quiz" style="color:black">แบบทดสอบท้ายบท</a>
                            </p>
                            <p class="wrapbox auto">
                                <b>10. File Operation </b>
                                <br><a href="/course-File_Operation" style="color:black">Operations on the File</a>
                            </p>
                          </div>
                    </div>
                </div>
        <br></div>
        </div>
    </div>

