<!-- LEFT -->
<main>
    <!-- START OF C Language-->
    <div class="sidebar bg-light shadow">
        <div class="flex-shrink-0 p-3 " >
            <a  class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold"><svg height="24" width="30" viewBox="0 0 640 512">
                    <path d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"/>
                </svg></i> C Language</span>
            </a>
            <ul class="list-unstyled ps-0">
                <div class="accordion" id="accordionParentC"> 
                    <!-- START OF Introduce-->   
                    <li class="mb-1">
                        <li><a href="/course" class="btn  align-items-center rounded collapsed fs-6 fw-semibold"  type="button"  >
                            Main
                        </a></li>
                    </li>
                    <!-- START OF SYSNTAX-->
                    
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#syntax-collapse">
                        Introduction
                        </button>
                    </li>
                    <div class="collapse" id="syntax-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Introduction#Token" class="link-dark rounded collapsed"  type="button"  >
                                Token in C
                            </a></li>
                            <li><a href="/course-Introduction#Semicolons" class="link-dark rounded collapsed"  type="button"  >
                                Semicolons
                            </a></li>
                            <li><a href="/course-Introduction#Comments" class="link-dark rounded collapsed"  type="button"  >
                                Comments
                            </a></li>
                            <li><a href="/course-Introduction#Identifier" class="link-dark rounded collapsed"  type="button"  >
                                Identifier & Keyword
                            </a></li>
                            <li><a href="/course-Introduction#Escape​" class="link-dark rounded collapsed"  type="button"  >
                                Escape​ ​sequences​ ​in​ ​C
                            </a></li>
                            <li><a href="/course-Introduction#Variable" class="link-dark rounded collapsed"  type="button"  >
                                Variable
                            </a></li>
                            <li><a href="/course-Introduction-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF String -->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#String-collapse" >
                        String
                        </button>
                    </li>
                    <div class="collapse" id="String-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-String" class="link-dark rounded collapsed"  type="button"  >
                                String 
                            </a></li>
                            <li><a href="/course-String-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF Datatype-->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#Datatype-collapse" >
                        Datatype
                        </button>
                    </li>
                    <div class="collapse" id="Datatype-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Datatype" class="link-dark rounded collapsed"  type="button"  >
                                Datatype
                            </a></li>
                            <li><a href="/course-Datatype-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF Operators-->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#Operators-collapse">
                        Operators
                        </button>
                    </li>
                    <div class="collapse" id="Operators-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Operators#Arithmetic" class="link-dark rounded collapsed"  type="button"  >
                                Arithmetic​
                            </a></li>
                            <li><a href="/course-Operators#Relational" class="link-dark rounded collapsed"  type="button"  >
                                Relational
                                </a></li>
                                <li><a href="/course-Operators#Logical" class="link-dark rounded collapsed"  type="button"  >
                                Logical
                                </a></li>
                                <li><a href="/course-Operators#Bitwise" class="link-dark rounded collapsed"  type="button"  >
                                Bitwise
                                </a></li>
                                <li><a href="/course-Operators#Assignment" class="link-dark rounded collapsed"  type="button"  >
                                Assignment
                                </a></li>
                                <li><a href="/course-Operators#Misc" class="link-dark rounded collapsed"  type="button"  >
                                Misc
                                </a></li>
                                <li><a href="/course-Operators-quiz" class="link-dark rounded collapsed"  type="button"  >
                                    แบบทดสอบย่อย
                                </a></li>
                        </ul>
                    </div>
                    <!-- START OF conditions-->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#FlowControl-collapse" >
                        Flow Control
                        </button>
                    </li>
                    <div class="collapse" id="FlowControl-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Flow_Control#if_else" class="link-dark rounded collapsed"  type="button"  >
                                if - else
                            </a></li>
                            <li><a href="/course-Flow_Control#for_Loop" class="link-dark rounded collapsed"  type="button"  >
                                for Loop
                                </a></li>
                                <li><a href="/course-Flow_Control#while_Loop" class="link-dark rounded collapsed"  type="button"  >
                                while Loop
                                </a></li>
                                <li><a href="/course-Flow_Control#break_and_continue" class="link-dark rounded collapsed"  type="button"  >
                                break and continue
                                </a></li>
                                <li><a href="/course-Flow_Control#switch_case" class="link-dark rounded collapsed"  type="button"  >
                                switch - case
                                </a></li>
                                <li><a href="/course-Flow_Control#goto_statement" class="link-dark rounded collapsed"  type="button"  >
                                goto statement
                                </a></li>
                            <li><a href="/course-Flow_Control-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF Pointers-->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#Pointers-collapse" >
                        Pointers
                        </button>
                    </li>
                    <div class="collapse" id="Pointers-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Pointers" class="link-dark rounded collapsed"  type="button"  >
                                Pointers
                            </a></li>
                            <li><a href="/course-Pointers-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF Function-->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#Function-collapse">
                        Function
                        </button>
                    </li>
                    <div class="collapse" id="Function-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Function" class="link-dark rounded collapsed"  type="button"  >
                                Function
                            </a></li>
                            <li><a href="/course-Function-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF Structure-->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#Structure-collapse">
                        Structure
                        </button>
                    </li>
                    <div class="collapse" id="Structure-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Structure" class="link-dark rounded collapsed"  type="button"  >
                                Structure
                            </a></li>
                            <li><a href="/course-Structure-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF Array -->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#Array-collapse">
                        Array 
                        </button>
                    </li>
                    <div class="collapse" id="Array-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-Array#Declaring" class="link-dark rounded collapsed"  type="button"  >
                                Declaring
                            </a></li>
                            <li><a href="/course-Array#Two_Dimensional" class="link-dark rounded collapsed"  type="button"  >
                                Two-Dimensional
                            </a></li>
                            <li><a href="/course-Array#Three_Dimensional​" class="link-dark rounded collapsed"  type="button"  >
                                Three-Dimensional​
                            </a></li>
                            <li><a href="/course-Array-quiz" class="link-dark rounded collapsed"  type="button"  >
                                แบบทดสอบย่อย
                            </a></li>
                        </ul>
                    </div>
                    <!-- START OF File Operation-->
                    <li class="mb-1">
                        <button  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#File-collapse">
                        File Operation
                        </button>
                    </li>
                    <div class="collapse" id="File-collapse" data-bs-parent="#accordionParentC">

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/course-File_Operation" class="link-dark rounded collapsed"  type="button"  >
                                Operations on the File 
                            </a></li>
                        </ul>
                    </div>
                    
            <!-- recommendation-->
            <thead>
                <div class="card ">
                    <div class="card-header">
                        
                        <i class="fa fa-fire" style="font-size: 25px;;align-items: center; " ></i><b> เนื้อหาที่แนะนำ</b>
                        <div class="card-body">
                            <h6 class="card-title">COURSE : A</h6>
                            <h6 class="card-title">Project : Tik</h6>
                            <p class="card-text">TEST ABC</p>
                        </div>
                    </div>
            </thead>
        </div>
    </div>
</main>
<!-- END OF LEFT-->