<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='stylesheets/home.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    
    <title>Pre-Test</title>
</head>

<body>
    <!-- Narbar-->
    <%- include('layouts/navbar') %>
    <!-- end of Narbar-->
    <style>
        .img-thumbnail {
            padding: 0.25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            max-width: 100%;
            height: 300px;
        }
    </style>
<br><br><br>
    <div id = "content" class="container">
    <h2><u>แบบทดสอบก่อนเรียน</u></h2>

<%# START %> 
<form action="/pretestSubmit" method="post" autocomplete="off" >
    <%# button %> 
    <div class="btn-group me-2" role="group" aria-label="Basic outlined example">
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test1" >1</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test2">2</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test3">3</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test4">4</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test5">5</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test6">6</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test7">7</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test8">8</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test9">9</button>
        <button type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-controls="flush-collapseOne" 
        class="btn btn-secondary collapsed" data-bs-target="#test10">10</button>
    </div>
        <button type="submit" class="btn btn-outline-dark">ส่งคำตอบ</button>

<%# content %> 

    <div class="accordion accordion-flush" id="accordionMain">
    <%# %>
        <div id="test0" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
            <br><h2>เริ่มต้นด้วยแบบทดสอบก่อนเรียน</h2>
        </div>

    <%# test1 %>
    <div id="test1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1ZF0EPr0xh0GNNDkjGm_W04XAnhKdAkZp" class="img-thumbnail rounded" >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 1</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        1.1) main() คืออะไร
                    </p>
                    
                    <input type="radio" class="btn-check" name="c11" id="c11o1" autocomplete="off" value="A" required >
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o1">
                        ก. Function
                    </label>
                    <input type="radio" class="btn-check" name="c11" id="c11o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o2">
                        ข. Structure
                    </label>
                    <input type="radio" class="btn-check" name="c11" id="c11o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o3">
                        ค. Library
                    </label>
                    <input type="radio" class="btn-check" name="c11" id="c11o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c11o4">
                        ง. Command
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        1.2) ข้อใดเป็นคำสั่งสิ้นสุดการทำงานของ Function
                    </p>
                    
                    <input type="radio" class="btn-check" name="c12" id="c12o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c12o1">
                        ก. include
                    </label>
                    <input type="radio" class="btn-check" name="c12" id="c12o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c12o2">
                        ข. int main
                    </label>
                    <input type="radio" class="btn-check" name="c12" id="c12o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c12o3">
                        ค. printf	
                    </label>
                    <input type="radio" class="btn-check" name="c12" id="c12o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c12o4">
                        ง. return
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width:125%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        1.3)เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. เปิดฟังก์ชั่นหลัก / 2. เรียกใช้ Library<br>
                        &ensp;3. สิ้นสุดการทำงานของฟังก์ชั่น / 4. Print ค่า Hello World
        
                    </p>
                    
                    <input type="radio" class="btn-check" name="c13" id="c13o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c13o1">
                        ก. 1 2 3 4	
                    </label>
                    <input type="radio" class="btn-check" name="c13" id="c13o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c13o2">
                        ข. 2 3 4 1
                    </label>
                    <input type="radio" class="btn-check" name="c13" id="c13o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c13o3">
                        ค. 2 1 4 3	
                    </label>
                    <input type="radio" class="btn-check" name="c13" id="c13o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c13o4">
                        ง. 4 1 3 2  
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test2 %>
    <div id="test2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1dlscbzC37eVLt36mJvTnYwtl8qGHByx6" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 2</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        2.1) float ไว้ใช้เก็บข้อมูลชนิดใด
                    </p>

                    <input type="radio" class="btn-check" name="c21" id="c21o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o1">
                        ก. ตัวหนังสือ
                    </label>
                    <input type="radio" class="btn-check" name="c21" id="c21o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o2">
                        ข. เลขจำนวนเต็ม
                    </label>
                    <input type="radio" class="btn-check" name="c21" id="c21o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o3">
                        ค. เลขทศนิยม 7 หลัก	
                    </label>
                    <input type="radio" class="btn-check" name="c21" id="c21o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c21o4">
                        ง. เลขทศนิยม 15 หลัก
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        2.2) ค่าตัว D จะแสดงค่าออกมาจากคำสั่งใด
                    </p>
                    
                    <input type="radio" class="btn-check" name="c22" id="c22o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c22o1">
                        ก. char myLetter = ‘D’;
                    </label>
                    <input type="radio" class="btn-check" name="c22" id="c22o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c22o2">
                        ข. printf("%d\n", myNum);
                    </label>
                    <input type="radio" class="btn-check" name="c22" id="c22o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c22o3">
                        ค. printf("%f\n", myFloatNum);
                    </label>
                    <input type="radio" class="btn-check" name="c22" id="c22o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c22o4">
                        ง. printf("%c\n", myLetter);
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width:120%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        2.3) เรียงลำดับการทำงานของ Code<br>
                        &ensp;1. เปิดฟังก์ชั่นหลัก / 2. ประกาศค่าตัวแปร<br>
                        &ensp;3. สิ้นสุดการทำงานของฟังก์ชั่น / 4 . Print ค่าต่างๆ<br>
                        &ensp;5. เรียกใช้ Library

                    </p>
                    
                    <input type="radio" class="btn-check" name="c23" id="c23o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c23o1">
                        ก. 5 1 2 4 3
                    </label>
                    <input type="radio" class="btn-check" name="c23" id="c23o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c23o2">
                        ข. 1 2 3 4 5
                    </label>
                    <input type="radio" class="btn-check" name="c23" id="c23o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c23o3">
                        ค. 3 2 1 4 5
                    </label>
                    <input type="radio" class="btn-check" name="c23" id="c23o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c23o4">
                        ง. 5 4 3 2 1
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test3 %>
    <div id="test3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1HbNHsSwFrneXJnv_yOw8ORNKo0_zKOWr" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 3</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        3.1) / คือเครื่องหมายอะไร
                    </p>

                    <input type="radio" class="btn-check" name="c31" id="c31o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o1">
                        ก. บวก
                    </label>
                    <input type="radio" class="btn-check" name="c31" id="c31o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o2">
                        ข. ลบ
                    </label>
                    <input type="radio" class="btn-check" name="c31" id="c31o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o3">
                        ค. คูณ
                    </label>
                    <input type="radio" class="btn-check" name="c31" id="c31o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c31o4">
                        ง. หาร
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        3.2) printf("%d", x && y); ค่าที่ออกมาเป็นเท่าไร
                    </p>
                    
                    <input type="radio" class="btn-check" name="c32" id="c32o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c32o1">
                        ก. 0
                    </label>
                    <input type="radio" class="btn-check" name="c32" id="c32o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c32o2">
                        ข. 1
                    </label>
                    <input type="radio" class="btn-check" name="c32" id="c32o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c32o3">
                        ค. 2
                    </label>
                    <input type="radio" class="btn-check" name="c32" id="c32o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c32o4">
                        ง. 3
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        3.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. Print ค่าต่างๆ / 2. ประกาศค่าตัวแปร<br>
                        &ensp;3. เรียกใช้ Library / 4. เปิดฟังก์ชั่นหลัก<br>
                        &ensp;5. สิ้นสุดการทำงานของฟังก์ชั่น
                    </p>
                    
                    <input type="radio" class="btn-check" name="c33" id="c33o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c33o1">
                        ก. 1 2 3 4 5
                    </label>
                    <input type="radio" class="btn-check" name="c33" id="c33o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c33o2">
                        ข. 5 4 3 2 1
                    </label>
                    <input type="radio" class="btn-check" name="c33" id="c33o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c33o3">
                        ค. 4 3 2 1 5
                    </label>
                    <input type="radio" class="btn-check" name="c33" id="c33o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c33o4">
                        ง. 3 4 2 1 5
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test4 %>
    <div id="test4" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1YvRIthvpAZv-RkrmdBzpLn-x4pojx0Zf" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 4</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        4.1) จาก code ข้างบนมีเงื่อนไขการทำงานกี่เงื่อนไข
                    </p>

                    <input type="radio" class="btn-check" name="c41" id="c41o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o1">
                        ก. 0
                    </label>
                    <input type="radio" class="btn-check" name="c41" id="c41o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o2">
                        ข. 1
                    </label>
                    <input type="radio" class="btn-check" name="c41" id="c41o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o3">
                        ค. 2
                    </label>
                    <input type="radio" class="btn-check" name="c41" id="c41o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c41o4">
                        ง. 3
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        4.2) จาก code โปรแกรมต้องทำงานกี่รอบถึงจะแสดงข้อความ Good day. ออกมา
                    </p>
                    
                    <input type="radio" class="btn-check" name="c42" id="c42o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c42o1">
                        ก. 10
                    </label>
                    <input type="radio" class="btn-check" name="c42" id="c42o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c42o2">
                        ข. 20
                    </label>
                    <input type="radio" class="btn-check" name="c42" id="c42o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c42o3">
                        ค. 22
                    </label>
                    <input type="radio" class="btn-check" name="c42" id="c42o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c42o4">
                        ง. 30
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width: 120%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        4.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. เงื่อนไข time น้อยกว่า 10 / 2. ประกาศค่าตัวแปร<br>
                        &ensp;3. เรียกใช้ Library / 4. เปิดฟังก์ชั่นหลัก<br>
                        &ensp;5. สิ้นสุดการทำงานของฟังก์ชั่น<br>
                        &ensp;6. เงื่อนไข time น้อยกว่า 20 / 7. เงื่อนไขอื่นๆ
                    </p>
                    
                    <input type="radio" class="btn-check" name="c43" id="c43o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c43o1">
                        ก. 3 4 2 1 6 7 5
                    </label>
                    <input type="radio" class="btn-check" name="c43" id="c43o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c43o2">
                        ข. 1 2 3 4 5 6 7
                    </label>
                    <input type="radio" class="btn-check" name="c43" id="c43o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c43o3">
                        ค. 7 6 5 4 3 2 1	
                    </label>
                    <input type="radio" class="btn-check" name="c43" id="c43o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c43o4">
                        ง. 4 3 2 1 7 5 6
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test5 %>
    <div id="test5" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1Ez7kunSEsDNSZVY05ssImcB8KkbPmPjE" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 5</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        5.1) 50 อยู่ใน Array ลำดับที่เท่าไร
                    </p>

                    <input type="radio" class="btn-check" name="c51" id="c51o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o1">
                        ก. 1
                    </label>
                    <input type="radio" class="btn-check" name="c51" id="c51o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o2">
                        ข. 2
                    </label>
                    <input type="radio" class="btn-check" name="c51" id="c51o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o3">
                        ค. 3
                    </label>
                    <input type="radio" class="btn-check" name="c51" id="c51o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c51o4">
                        ง. 4
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        5.2) จาก code โปรแกรมจะรันค่าอะไรออกมา
                    </p>
                    
                    <input type="radio" class="btn-check" name="c52" id="c52o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c52o1">
                        ก. 25
                    </label>
                    <input type="radio" class="btn-check" name="c52" id="c52o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c52o2">
                        ข. 50
                    </label>
                    <input type="radio" class="btn-check" name="c52" id="c52o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c52o3">
                        ค. 75
                    </label>
                    <input type="radio" class="btn-check" name="c52" id="c52o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c52o4">
                        ง. 100
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width: 125%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        5.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. สิ้นสุดการทำงานของฟังก์ชัน / 2. ประกาศค่าใน array<br>
                        &ensp;3. เรียกใช้ Library / 4. เปิดฟังก์ชั่นหลัก<br>
                        &ensp;5. แสดงค่าในarray จากคำสั่ง printf
                    </p>
                    
                    <input type="radio" class="btn-check" name="c53" id="c53o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c53o1">
                        ก. 5 4 3 2 1
                    </label>
                    <input type="radio" class="btn-check" name="c53" id="c53o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c53o2">
                        ข. 3 4 2 5 1
                    </label>
                    <input type="radio" class="btn-check" name="c53" id="c53o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c53o3">
                        ค. 1 2 3 4 5	
                    </label>
                    <input type="radio" class="btn-check" name="c53" id="c53o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c53o4">
                        ง. 4 3 5 2 1
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test6 %>
    <div id="test6" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1WvULEuwcMB9rXDg1Wo8HZQh0yeehgiCM" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 6</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        6.1) “r” ในเงื่อนไข if หมายถึงอะไร
                    </p>

                    <input type="radio" class="btn-check" name="c61" id="c61o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o1">
                        ก. การเขียนไฟล์
                    </label>
                    <input type="radio" class="btn-check" name="c61" id="c61o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o2">
                        ข. การอ่านไฟล์
                    </label>
                    <input type="radio" class="btn-check" name="c61" id="c61o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o3">
                        ค. การอ่านไฟล์ในโหมดไบนารี	
                    </label>
                    <input type="radio" class="btn-check" name="c61" id="c61o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c61o4">
                        ง. การเขียนไฟล์ในโหมดไบนารี
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        6.2) จาก code ถ้าเปิดไฟล์ได้ โปรแกรมจะแสดงค่าอะไร
                    </p>
                    
                    <input type="radio" class="btn-check" name="c62" id="c62o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c62o1">
                        ก. hello.txt
                    </label>
                    <input type="radio" class="btn-check" name="c62" id="c62o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c62o2">
                        ข. r
                    </label>
                    <input type="radio" class="btn-check" name="c62" id="c62o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c62o3">
                        ค. File opened successfully in read mode
                    </label>
                    <input type="radio" class="btn-check" name="c62" id="c62o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c62o4">
                        ง. The file is not present! cannot create a new file using r mode
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width: 125%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        6.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. เปิดคำสั่งแสดงเงื่อนไข / 2. ประกาศตัวแปร<br>
                        &ensp;3. เรียกใช้ Library / 4. เปิดฟังก์ชั่่นหลัก<br>
                        &ensp;5. สิ้นสุดการทำงานของฟังก์ชั่น
                    </p>
                    
                    <input type="radio" class="btn-check" name="c63" id="c63o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c63o1">
                        ก. 3 4 2 1 5
                    </label>
                    <input type="radio" class="btn-check" name="c63" id="c63o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c63o2">
                        ข. 1 2 5 3 4
                    </label>
                    <input type="radio" class="btn-check" name="c63" id="c63o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c63o3">
                        ค. 1 2 3 4 5	
                    </label>
                    <input type="radio" class="btn-check" name="c63" id="c63o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c63o4">
                        ง. 5 4 3 2 1
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test7 %>
    <div id="test7" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1-p2HtirxjtbTp-BheGObc-36X_G0JSbB" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 7</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        7.1) Pointers มีหน้าที่อะไร
                    </p>

                    <input type="radio" class="btn-check" name="c71" id="c71o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o1">
                        ก. ชี้ตำแหน่ง address ของข้อมูล
                    </label>
                    <input type="radio" class="btn-check" name="c71" id="c71o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o2">
                        ข. เก็บข้อมูลแบบเป็นลำดับ
                    </label>
                    <input type="radio" class="btn-check" name="c71" id="c71o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o3">
                        ค. แสดงค่าผลลัพธ์	
                    </label>
                    <input type="radio" class="btn-check" name="c71" id="c71o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c71o4">
                        ง. ทำให้โปรแกรมทำงานซ้ำ
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        7.2) จาก code บรรทัดที่ 8 โปรแกรมจะแสดงค่าใด
                    </p>
                    
                    <input type="radio" class="btn-check" name="c72" id="c72o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c72o1">
                        ก. 9
                    </label>
                    <input type="radio" class="btn-check" name="c72" id="c72o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c72o2">
                        ข. Hello
                    </label>
                    <input type="radio" class="btn-check" name="c72" id="c72o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c72o3">
                        ค. 0x7ffc15147f32
                    </label>
                    <input type="radio" class="btn-check" name="c72" id="c72o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c72o4">
                        ง. 0x7ffc15147f2c
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width: 125%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        7.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. เปิดฟังก์ชันหลัก / 2. ประกาศตัวแปร<br>
                        &ensp;3. สิ้นสุดการทำงานของฟังก์ชัน / 4. Print ค่าออกมา<br>
                        &ensp;5. เรียกใช้ Library
                    </p>
                    
                    <input type="radio" class="btn-check" name="c73" id="c73o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c73o1">
                        ก. 5 4 3 2 1
                    </label>
                    <input type="radio" class="btn-check" name="c73" id="c73o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c73o2">
                        ข. 1 2 3 4 5
                    </label>
                    <input type="radio" class="btn-check" name="c73" id="c73o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c73o3">
                        ค. 5 1 2 4 3	
                    </label>
                    <input type="radio" class="btn-check" name="c73" id="c73o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c73o4">
                        ง. 1 4 2 3 5 
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test8 %>
    <div id="test8" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1ZTPd5FTnyUMLmyDRhy2iAjIQorBZDKG-" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 8</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        8.1) Strings ต้องใช้อะไรเข้ามาช่วยทำงานร่วมกัน
                    </p>

                    <input type="radio" class="btn-check" name="c81" id="c81o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o1">
                        ก. Operators	
                    </label>
                    <input type="radio" class="btn-check" name="c81" id="c81o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o2">
                        ข. Array
                    </label>
                    <input type="radio" class="btn-check" name="c81" id="c81o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o3">
                        ค. Pointers	
                    </label>
                    <input type="radio" class="btn-check" name="c81" id="c81o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c81o4">
                        ง. Structure
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        8.2) จาก code ในคำสั่งบรรทัดที่ 9 จะแสดงค่าออกมาเท่าไร
                    </p>
                    
                    <input type="radio" class="btn-check" name="c82" id="c82o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c82o1">
                        ก. 1
                    </label>
                    <input type="radio" class="btn-check" name="c82" id="c82o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c82o2">
                        ข. 4
                    </label>
                    <input type="radio" class="btn-check" name="c82" id="c82o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c82o3">
                        ค. 3
                    </label>
                    <input type="radio" class="btn-check" name="c82" id="c82o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c82o4">
                        ง. 20
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width: 125%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        8.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. เรียกใช้ Library / 2. ประกาศตัวแปร<br>
                        &ensp;3. เปิดฟังก์ชันหลัก / 4. Print ค่าออกมา<br>
                        &ensp;5. สิ้นสุดการทำงานของฟังก์ชัน
                    </p>
                    
                    <input type="radio" class="btn-check" name="c83" id="c83o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c83o1">
                        ก. 1 2 3 4 5
                    </label>
                    <input type="radio" class="btn-check" name="c83" id="c83o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c83o2">
                        ข. 1 4 5 3 2
                    </label>
                    <input type="radio" class="btn-check" name="c83" id="c83o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c83o3">
                        ค. 1 3 2 4 5	
                    </label>
                    <input type="radio" class="btn-check" name="c83" id="c83o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c83o4">
                        ง. 1 5 2 4 3 
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test9 %>
    <div id="test9" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 9</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        9.1) ****
                    </p>

                    <input type="radio" class="btn-check" name="c91" id="c91o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o1">
                        ก. ***	
                    </label>
                    <input type="radio" class="btn-check" name="c91" id="c91o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o2">
                        ข. ***
                    </label>
                    <input type="radio" class="btn-check" name="c91" id="c91o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o3">
                        ค. ***
                    </label>
                    <input type="radio" class="btn-check" name="c91" id="c91o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c91o4">
                        ง. ***
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        9.2) ****
                    </p>
                    
                    <input type="radio" class="btn-check" name="c92" id="c92o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c92o1">
                        ก. ***
                    </label>
                    <input type="radio" class="btn-check" name="c92" id="c92o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c92o2">
                        ข. ***
                    </label>
                    <input type="radio" class="btn-check" name="c92" id="c92o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c92o3">
                        ค. ***
                    </label>
                    <input type="radio" class="btn-check" name="c92" id="c92o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c92o4">
                        ง. ***
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width: 125%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        9.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. *** / 2. ***<br>
                        &ensp;3. *** / 4. ***<br>
                        &ensp;5. ***
                    </p>
                    
                    <input type="radio" class="btn-check" name="c93" id="c93o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c93o1">
                        ก. ***
                    </label>
                    <input type="radio" class="btn-check" name="c93" id="c93o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c93o2">
                        ข. ***
                    </label>
                    <input type="radio" class="btn-check" name="c93" id="c93o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c93o3">
                        ค. ***	
                    </label>
                    <input type="radio" class="btn-check" name="c93" id="c93o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c93o4">
                        ง. ***
                    </label>
                </div>
            </div>
        </div>
        <%# choice %> 
    </div>
<%# test10 %>
    <div id="test10" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMain">
        <%# choice %> 
        <div class="row align-items-start">
            <div>
            <img src="https://drive.google.com/uc?id=1eQDLwAkWuA5aSHO9W39yEeK1AGtgMWZZ" class="img-thumbnail rounded"  >
            <p>ใช้รูปนี้เพื่อตอบคำถามข้อ 10</p>
            </div>
            <div class="col">
              <%# test %>         
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        10.1) จาก code โปรแกรมนี้มีทั้งหมดกี่ Functions
                    </p>

                    <input type="radio" class="btn-check" name="c101" id="c101o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o1">
                        ก. 1
                    </label>
                    <input type="radio" class="btn-check" name="c101" id="c101o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o2">
                        ข. 2
                    </label>
                    <input type="radio" class="btn-check" name="c101" id="c101o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o3">
                        ค. 3
                    </label>
                    <input type="radio" class="btn-check" name="c101" id="c101o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c101o4">
                        ง. 4
                    </label>
                </div>
            </div>
            <div class="col">
              <%# test %>           
                <div class="list-group">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        10.2) จาก code ฟังก์ชัน main ได้เรียกใช้ ฟังก์ชัน star20 ในบรรทัดใด
                    </p>
                    
                    <input type="radio" class="btn-check" name="c102" id="c102o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c102o1">
                        ก. 13
                    </label>
                    <input type="radio" class="btn-check" name="c102" id="c102o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c102o2">
                        ข. 14
                    </label>
                    <input type="radio" class="btn-check" name="c102" id="c102o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c102o3">
                        ค. 15
                    </label>
                    <input type="radio" class="btn-check" name="c102" id="c102o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c102o4">
                        ง. 16
                    </label>
                </div>
            </div>
            <div class="col">
                <%# test %>           
                <div class="list-group" style="width: 155%;">
                    <p type="text" class="list-group-item list-group-item-action bg-dark" style="color: white;">
                        10.3) เรียงลำดับการทำงานของ Code <br>
                        &ensp;1. เปิดฟังก์ชันหลัก / 2. เปิดคำสั่งแสดงเงื่อนไข / 3. ประกาศค่าตัวแปร<br>
                        &ensp;4. คำสั่งภายในเงื่อนไข / 5. เปิดฟังก์ชั่น star20 / 6. ปริ้นค่า Hello everyone<br>
                        &ensp;7. เรียกใช้ Library / 8. เรียกใช้ฟังก์ชัน star20
                    </p>
                    
                    <input type="radio" class="btn-check" name="c103" id="c103o1" autocomplete="off" value="A" required>
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c103o1">
                        ก. 7 5 3 2 4 1 6 8	
                    </label>
                    <input type="radio" class="btn-check" name="c103" id="c103o2" autocomplete="off" value="B">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c103o2">
                        ข. 7 4 3 6 2 5 1 8
                    </label>
                    <input type="radio" class="btn-check" name="c103" id="c103o3" autocomplete="off" value="C">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c103o3">
                        ค. 7 3 4 5 6 1 2 8	
                    </label>
                    <input type="radio" class="btn-check" name="c103" id="c103o4" autocomplete="off" value="D">
                    <label class="list-group-item btn-outline-dark list-group-item-action" for="c103o4">
                        ง. 7 8 6 2 5 4 3 1
                    </label>
                </div>
            </div>
        </div> 
        <%# choice %> 
    </div>


<%#  END %> 
</form>
        
    </body>
    </html>